.table1 {
	margin-left: 15%;
	margin-right: 15%;
	width: 70%;
}

.table2 {
	border: 5px;
	margin: 0 auto;
}

.semBorda tr,.semBorda td {
	border: none !important;
}

body {
	background: #FF6668 url(../images/bgdegrade.jpg) 0% 0% repeat-x fixed;
	margin: 5px;
	font: 12px Georgia, Verdana, Tahona;
	font-weight: normal;
	margin: 0 auto;
}

#divum {
	width: 700px;
	height: 500px;
	background: #EEEEEE;
}

#font_um {
	font-family: Verdana, Georgia, Arial;
	font-size: 10px;
}