<?xml version="1.0" encoding="UTF-8"?>
<b:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:b="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
                        http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-3.2.xsd">
	<http>
		<intercept-url pattern="/admin/**" access="ROLE_ADMINISTRADOR" />
		<intercept-url pattern="/restrito/**" access="ROLE_USUARIO" />
		<form-login login-page="/publico/login.jsf"
			always-use-default-target="true" default-target-url="/restrito/profissional.jsf"
			authentication-failure-url="/publico/login.jsf?login_error=1" />
		<logout />
		<remember-me />
	</http>
	<authentication-manager>
		<authentication-provider>
			<jdbc-user-service data-source-ref="dataSource"
				authorities-by-username-query="SELECT p.login, u.permissao 
											 FROM profissional p, usuario_permissao u 
											WHERE p.codprofissional = u.usuario 
											  AND p.login = ?"
				users-by-username-query="SELECT login, senha, ativo 
									   FROM profissional 
									  WHERE login = ?" />
		</authentication-provider>
	</authentication-manager>
	<b:bean id="dataSource"
		class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<b:property name="url" value="jdbc:mysql://localhost:3306/angelellirh" />
		<b:property name="driverClassName" value="com.mysql.jdbc.Driver" />
		<b:property name="username" value="root" />
		<b:property name="password" value="" />
	</b:bean>
</b:beans>
